.game-field {
    width: 100vw;
    height: 100vh;
    max-height: 100%;
    background-image: url(../../assets/img/game-screen.png);
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-container {
    position: relative;
    img {
        position: absolute;
        width: 130px;
    }
    .first-card {
        cursor: pointer;
        border-radius: 10px;
        transition: all 125ms ease-in-out;
        border: 1px solid silver;
        &:hover {
            transform: scale(1.1) translateY(-10px);
        }
    }
    .take-card {
        animation: take-card-animation 1.2s ease-in-out;
        transform: scale(1.3) translateX(140px) translateY(-180px) rotate(-10deg);
    }

    @keyframes take-card-animation {
        0% {
            transform: scale(1);
        }
        40% {
            transform: scale(1.5);
        }
        60% {
            transform: scale(1.5);
        }
        100% {
            transform: scale(1.3) translateX(140px) translateY(-180px) rotate(-10deg);
        }
    }
    .played-card {
        width: 100px;
        right: 25px;
        transform: scale(1.3) translateX(140px) translateY(-180px) rotate(-10deg);
    }
}

.player-position {
    position: absolute;
    right: 0;
    cursor: pointer;
    &:hover {
        filter: brightness(1.15);
    }
}

.add-button {
    position: absolute;
    right: 32px;
    bottom: 45px;
}

.game-info-card {
    position: absolute;
    bottom: 32px;
    left: 100px;
    right: 100px;
    color: rgba(0, 0, 0, 0.72);
    text-decoration: none;
    font-weight: bold;
    text-shadow: 1px 1px 0 #ffffff;
    border-radius: 20px;
}


.game-over {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background:#321c1c;
    width: 100vw;
    max-height: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden; 
    padding-bottom: 104px;
    box-sizing: border-box;

    img {
        width: 100%;
        height: 90%;
        object-fit: contain;
    }
} 


.game-over-images {
    img {
        position: absolute;
        top: 0;
        bottom: 0;
        left:0;
        right: 0;
    }
}

@media (max-width: 962px) {
    .player-position {
        position: absolute;
        left: 0;
    }
}

@media (max-width: 425px) {
    .cards-container {
        .first-card {
            width: 80px!important;
        }
        .played-card {
            right: 80px;
            width: 75px!important;
            top: 40px;
        }
        img {
            width: 80px;
        }
        .take-card {
            animation: take-card-animation-responsiv 1.2s ease-in-out;
            transform: scale(1.3) translateX(100px) translateY(-150px) rotate(-10deg);
        }
        @keyframes take-card-animation-responsiv {
            0% {
                transform: scale(1);
            }
            40% {
                transform: scale(1.5);
            }
            60% {
                transform: scale(1.5);
            }
            100% {
                transform: scale(1.3) translateX(100px) translateY(-150px) rotate(-10deg);
            }
        }
    }
    .add-button {
        width: 40px!important;
        height: 40px!important;
        bottom: 20px;
        right: 20px;
    }
    .game-info-card {
        left: 0;
        right: 0;
        bottom: 0;
    }

    .game-over  {
        .start-btn {
            width: 148px!important;
            height: 24px!important;
            font-size: 16px!important;
        }
    }
}
