<app-player class="player-position"
    *ngFor="let player of game.players; let i = index;"
    (click)="editPlayer(i)"
    [ngStyle]="{'top.px': (!isMobile ? 100 + (i * 90) : 10 + (i * 40))}"
    [name]="player"
    [profile]="game.playerImages[i]"
    [playerActive]="i == game.currentPlayer">
</app-player>

<div *ngIf="gameOver" class="game-over">
    <div class="game-over-images">
        <img src="assets/img/fire-bg.png">
        <img src="assets/img/game-over.png">
    </div>
    <div (click)="restartGame()" class="start-btn">Start</div>
</div>

<div *ngIf="!gameOver" class="game-field">
    <div class="cards-container">
        <img *ngFor="let c of [0,1,2,3,4]; let i = index;" 
            [ngStyle]="{'right.px': i * 5}"
            src="assets/img/cards/card_cover.png" style="border-radius: 10px;">

        <img (click)="takeCard()" class="first-card" style="right: 25px" 
            src="assets/img/cards/card_cover.png">

        <img class="played-card" 
            *ngFor="let card of game.playedCards" 
            src="assets/img/cards/{{ card }}.png">

        <img class="take-card" style="right: 25px"
            (click)="takeCard()" *ngIf="game.takeCardAnimation" 
            src="assets/img/cards/{{ game.currentCard }}.png">
    </div>
</div>

<app-game-info [card]="game.currentCard" class="game-info-card"></app-game-info>

<button (click)="addPlayer()" mat-fab color="primary" class="add-button">
    <mat-icon>add</mat-icon>
</button>

