<app-player class="player-position" 
    (click)="editPlayer(i)"
    *ngFor="let player of game.player; let i = index;"
    [ngStyle]="{'top.px': (!isMobile ? 100 + (i * 90) : 10 + (i * 40))}"
    [name]="player"
    [image]="game.playerImages[i]"
    [playerActive]="i == game.currentPlayer">
</app-player>

<div *ngIf="gameOver">
    <img  class="game-over" src="assets/img/game-over.jpg">
</div>

<div *ngIf="!gameOver" class="game-field">
    <div class="cards-container">
        <img *ngFor="let c of [0,1,2,3,4]; let i = index;" 
            [ngStyle]="{'right.px': i * 5}"
            src="assets/img/cards/card_cover.png" style="border-radius: 10px;">

        <img (click)="takeCard()" class="first-card" style="right: 25px" 
            src="assets/img/cards/card_cover.png">

        <img class="played-card" 
            *ngFor="let card of game.playedCards" 
            src="assets/img/cards/{{ card }}.png">

        <img class="take-card" style="right: 25px"
            (click)="takeCard()" *ngIf="game.takeCardAnimation" 
            src="assets/img/cards/{{ game.currentCard }}.png">
    </div>
</div>

<app-game-info [card]="game.currentCard" class="game-info-card"></app-game-info>

<button (click)="openDialog()" mat-fab color="primary" class="add-button">
    <mat-icon>add</mat-icon>
</button>

<img class="preload-image" src="assets/img/cards/{{ game.cards[game.cards.length -1] }}.png">

